/* ------------------ Root ------------------------ */

:root {
    --navbar-color : #C6D166;
    --footer-color :#0F1B07;
    --title-font : 'Jacques Francois', serif;
    --title-color : #0F1B07;
    --text-color : black;
    --text-font : 'Ibarra Real Nova', serif;
}

/* ---------------- Fin Root --------------------------- */
/* ---------------- Debut Queries ---------------------- */

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .burger {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 801px) {
    .burger {
        display: none;
    }

    .menu {
        display: flex;
        flex: 2;
        justify-content: space-around;
        align-items: center;
        max-width: 550px;
    
    }
}

/* ---------------- Fin Queries ------------------------ */
/* ---------------- CSS Header ------------------------- */

header {
  position:fixed;
  top:0;
  width: 100%;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 1.5%;
}

/* --------------------Fin Header --------------------- */
/* ------------------ Debut Navbar -------------------- */

nav {
  background: var(--navbar-color);
  display: flex;
  height: 100%;
  width: 98.5%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  font-family: var(--title-font);
  padding-right: 1.5%;
  list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--title-color);
}


.burger a{
    display: block;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.burger a:hover {
    color: white;
}

.burger-click {
    height: 200px;
    width: 100px;
    font-family: var(--title-font);
    z-index: 1000;
}

.burger-list {
    display: none;
    background-color: var(--navbar-color);
    box-shadow: 0px 1px 2px #CCC;
    background-color: var(--navbar-color);
    position: absolute;
    width: 100px;
    z-index: 1000;
    list-style-type: none;
}

.burger-list li {
    float: none;
    width: 100%;
    text-align: left;
    margin: 10px 0;
}

.burger:hover .burger-list {
    display: block;
}

.button-burger {
    height: 80px;
    width: 80px;
    background: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
}

.logo-mobile {
    padding-left: 1.5%;
}

.colormode {
    display: flex;
    width: 120px;
    height: 100%;
    justify-content: space-between;
}

.colormode > label {
    align-self: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px; /* 60px */
    height: 17px; /* 34px */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px; /* 26px */
    width: 13px; /* 26 px */
    left: 2px; /* 4px */
    bottom: 2px; /* 4px */
    background-color: var(--navbar-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f708c3;
}

input:focus + .slider {
    box-shadow: 0 0 4px #000000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px); /* 26px */
    -ms-transform: translateX(13px); /* 26px */
    transform: translateX(13px); /* 26px */
}

.slider.round {
    border-radius: 17px; /* 34px */
}

.slider.round:before {
    border-radius: 50%;
}

.menu {
  display: inline,
}

  /* -------------------- Fin Navbar -------------------- */
/*----------------------- Début body --------------*/

body{
  font: var(--text-font) var(--text-color);
  min-width: 500px;
}

/*----------------------- Fin body --------------*/
/*----------------------- Début Reviews --------------*/

.categories{
  width: 160px;
  position: fixed;
  left: 0;
  padding-top: 20px;
}

/*----------------------- Fin Reviews --------------*/
/* --------------------  Debut aboutme -------------------- */

#aboutMeBody {
    display : flex;
    justify-content : center;
    align-items: center;
}

#aboutMeText {
    display: block;
    text-align:left;
    width : 80%;
    font-family: var(--text-font);
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 8%;
    font-size: 18px;
}

#pictureOfMe {
    width : 240px;
    border-radius: 50%;
    margin: 4% 0 0 41%;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

/* -------------------- Fin aboutme -------------------- */
/*----------------------- Début Formulaire --------------*/

fieldset {
    text-align: center;
    margin-top: 15px; 
}

.champ{
    border: 1px #0F1B07;
    padding: 5px;
    margin: auto;
}

textarea{
    width: 80%;
    height: 100%
}

/*----------------------- Fin Formulaire ----------------*/
/*------------------- Début Footer ---------------------*/

footer{
  background : var(--footer-color);
  position: fixed;
  bottom:0;
  width: 98%;
}

.socialNetworkLogo{
  width:50px;
  height:50px;
  float: right;
}

/*------------------- Fin Footer -----------------------*/
