/* ------------------ Root ------------------------ */

:root {
  --navbar-color: #c6d166;
  --footer-color: #0f1b07;
  --title-font: "Jacques Francois", serif;
  --title-color: #0f1b07;
  --text-color: black;
  --text-font: "Ibarra Real Nova", serif;
  --body-font: #fefee2;
}

[data-theme="disco"] {
    --navbar-color: linear-gradient(#47EAD0, #FE277E);
    --footer-color: linear-gradient(#47EAD0, #FE277E);
    --title-font: "Jacques Francois", serif;
    --title-color: #f2ff43;
    --text-color: rgb(255, 255, 255);
    --text-font: "Ibarra Real Nova", serif;
    --text-font: #0000;
    --body-font: url(source/barre_disco.jpg);
}

/* ---------------- Fin Root --------------------------- */
/* ---------------- Debut Queries ---------------------- */

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 801px) {
  .burger {
    display: none;
  }

  .menu {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    max-width: 550px;
  }
}

/* ---------------- Fin Queries ------------------------ */
/* ---------------- CSS Header ------------------------- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
}

/* --------------------Fin Header --------------------- */
/* -------------------- Content -----------------------*/

content {
  height : 80vh;
}

/* -------------------- Fin content ------------------- */
/* ------------------ Debut Navbar -------------------- */

nav {
  background: var(--navbar-color);
  display: flex;
  height: 100%;
  width: 97%;
  justify-content: space-between; 
  align-items: center;
  background-color: var(--navbar-color);
  font-family: var(--title-font);
  padding: 0 1.5%;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

.burger a {
  display: block;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

.burger a:hover {
  color: white;
}

.burger-click {
  height: 200px;
  width: 100px;
  font-family: var(--title-font);
  z-index: 1000;
}

.burger-list {
  display: none;
  background-color: var(--navbar-color);
  box-shadow: 0px 1px 2px #ccc;
  background-color: var(--navbar-color);
  position: absolute;
  width: 100px;
  z-index: 1000;
  list-style-type: none;
}

.burger-list li {
  float: none;
  width: 100%;
  text-align: left;
  margin: 10px 0;
}

.burger:hover .burger-list {
  display: block;
}

.button-burger {
  height: 80px;
  width: 80px;
  background: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.colormode {
  display: flex;
  width: 120px;
  height: 100%;
  justify-content: space-between;
}

.colormode label {
  align-self: center;
}

.theme-switch {
  display: inline-block;
  height: 17px; /* 34px */
  position: relative;
  width: 30px; /* 60px */
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px; /* 4px */
  content: "";
  height: 13px; /* 26px */
  left: 2px; /* 4px */
  position: absolute;
  transition: 0.4s;
  width: 13px; /* 26px */
}

input:checked + .slider {
  background-color: #FCFE19;
}

input:checked + .slider:before {
  transform: translateX(13px); /* 26px */
}

.slider.round {
  border-radius: 17px; /* 34px */
}

.slider.round:before {
  border-radius: 50%;
}

.menu h1 {
  padding: 5px 14px 10px 14px;
}

.menu h1:hover {
  background-color: var(--footer-color);
  color: var(--navbar-color);
  border-radius: 40%;
}

/* -------------------- Fin Navbar -------------------- */
/*----------------------- Début body --------------*/

body{
  font: var(--text-font) var(--text-color);
  min-width: 500px;
  background-color: var(--body-font);
  margin: 0;
  height: 100vh;
}


/*----------------------- Fin body --------------*/
/*----------------------- Début Index --------------*/
.contenuIndex{
  display: inline-block;
}

.paragrapheIndex{
  flex-direction: column;
  margin : 0 25% 0 25%;
}

#GIFCHAT{
  margin: 0 25% 0 25%;
  padding: 0;
}
/*----------------------- Fin Index --------------*/
/*----------------------- Début Reviews --------------*/

.reviews {
  display: flex;
  text-decoration-style: none;
  list-style-type: none;
  margin-bottom: 10vh;
  margin: 1% 0;
  justify-content: space-between;
  height: 80vh;
}

.reviews-navbar {
  width: 15%;
  min-width: 100px;
  background: var(--navbar-color);
}

.reviews-navbar ul {
  list-style-type: none;
  text-decoration-style: none;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  margin: 0;
  /* position: -webkit-sticky;
  position: sticky;   */
}

.reviews-navbar ul li {
  height: 50px;
  width: 50px;
  padding: 20px;
}

.reviews-navbar ul li img {
  width: 100%;
}

.reviews-logo img {
  width: 50%;
}

.reviews-card {
  width: 80%;
}

/*----------------------- Fin Reviews --------------*/
/* --------------------  Debut aboutme -------------------- */

#aboutMeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutMeText::first-letter {
  font-size: 54px;
  font-weight: bold;
  font-family: "UnifrakturMaguntia", cursive;
  color: var(--title-color);
}

#aboutMeText {
  display: block;
  line-height: 1.5em;
  text-align: justify;
  width: 80%;
  font-family: var(--text-font);
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 4%;
  font-size: 18px;
}

#pictureOfMe {
  width: 240px;
  border-radius: 50%;
  margin-top: 4%;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

/* -------------------- Fin aboutme -------------------- */
/*----------------------- Début Formulaire --------------*/

#contactForm {
  display: flex;
  justify-content: center;
  margin-top: 6%;

}

fieldset {
  text-align: center;
  margin-top: 15px;
}

.champ {
  border: 1px #0f1b07;
  padding: 2%;
  margin: auto;
}
#prenom, #motif, #nom, #mail  {
  margin-bottom: 4px;
  margin-right: 5px;
  padding: 1px;
}

textarea {
  width: 80%;
  height: 100%;
}

/*----------------------- Fin Formulaire ----------------*/
/*------------------- Début Footer ---------------------*/

footer {
  background: var(--footer-color);
  /* position: fixed; */
  position: -webkit-sticky;
  position: sticky;
  /* bottom: 0; */
  width: 100%;
  height: 10vh;
  /* min-height: 80px; */
}

.socialNetworkLogo {
  width: 50px;
  height: 50px;
  float: right;
  cursor: crosshair;
}

footer p {
  margin: 0;
}

/*------------------- Fin Footer -----------------------*/;
